# .gitignore
.DS_Store
node_modules
.env.local
docs/.vuepress/dist/*
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn.lock*
yarn-error.log*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/video
*.zip
*.7z
/package-lock.json